<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <%      
    // function ss(a , b) {
    //     return a+b
    // }

    // console.log(ss(4,5))
    // console.log(ss(4,8989)) 
    // const hello = "hello"
    // console.log(hello)
    %> 
<% const users = [ [ 1, 'John' ], [ 2, 'Jane' ], [ 3, 'Jack' ] ]  
console.log(users)
%>
    <%= locals.name  %>
</body> 
</html>